/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300&family=Sacramento&display=swap'); */
body {
  margin: 0;
  background-repeat: no-repeat;
  color: white;
  /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
  background-color: rgb(0, 0, 0);
  color: gb(159, 42, 159);
}
.heading{
  margin-top: 0px;
  color: white;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  color: rgb(159, 42, 159);
    
  /* margin-top: 30px; */
}
.subheading{
  margin-top: -25px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  color: rgb(159, 42, 159);
}

.newhome {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  padding-top: 15px;
}

.earth {
  height: 50vh;
}

.parent {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.child1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 100px;
}

.child2 {
  width: 50%;
  height: 100vh;
}


.patient {
  z-index: 10;
  color: aliceblue;
  margin-left: -23px;
  margin-right: 23px;
  height: 60%;
  /* padding: 5px 45px 0px 45px; */
  border: 1px solid rgb(40, 34, 34);
  border-radius: 10px;
  background: rgba(49, 119, 196, 0.05);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}
.patient>p{
  padding-bottom: 10px;
}
.doctor>p{
  padding-bottom: 10px;
}
.doctor {
  z-index: 10;
  color: aliceblue;
  /* margin-left: 50px; */
  height: 60%;
  /* padding: 5px 45px 0px 45px; */
  border: 1px solid rgb(40, 34, 34);
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.71); */
  background: rgba(49, 119, 196, 0.05);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  text-align: center;
}
.stars {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
.btn {
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
  background-color: rgb(34, 34, 158);
  color: antiquewhite;
}

.btn:hover {
  background-color: rgb(18, 18, 71);
  cursor: pointer;
  color: aliceblue;
}


.parent-firm {
  margin-top: 23px;
  display: flex;
  flex-direction: row;

}

.child1-firm {
  width: 50%;
  margin-left: 14rem;
}

.child2-firm {
  margin-top: 20px;
  margin-right: 60px;
  width: 50%;
}

#text{
  color: white;
}
#text-label{
  color: white;
  top: -15px;
  left: -15px;
}
#text1{
  color: white;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
#text1-label{
  color: white;
  top: -5px;
  left: -15px;

}
#text2{
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

#text2-label{
  color: white;
  
}

#bar{
  width: 60%;
}

#earth-home{
  margin-top: 12%;
}

#home-head{
  text-align: center;
}
#field1{
  width: 30%;
  background-color: black;
  color: white;
}

#input:hover{
  cursor: pointer;
}
#copy-btn{
  margin-left: 12px;
}

.btn-main{
  background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-main:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-center{
  padding-left: 50px;
  justify-content: center;
}